  <div class="card mt-5" style="width:18rem">
    <img class="card-img-top" src="https://i.imgur.com/xQfrLZz.jpg" alt="Card image" style="width:100%px; height: 450px">
    <div class="card-body">
      <h4 class="card-title">{{user.name}}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{user.email}}</h6>
      <p class="card-text">Some example text some example text. {{user.name}} is an architect and engineer</p>
      <p class="card-text">{{user.phone}}</p>
      <a href="/" class="">All Users</a>
    </div>
  </div>